@import 'tailwindcss';

@font-face {
  font-family: ProximaNova;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/ProximaNova-Thin.woff2) format('woff');
}

@font-face {
  font-family: ProximaNova;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/ProximaNova-Light.woff2) format('woff');
}

@font-face {
  font-family: ProximaNova;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/ProximaNova-Regular.woff2) format('woff');
}

@font-face {
  font-family: ProximaNova;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/ProximaNova-Medium.woff2) format('woff');
}

@font-face {
  font-family: ProximaNova;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/ProximaNova-Semibold.woff2) format('woff');
}

@font-face {
  font-family: ProximaNova;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/ProximaNova-Bold.woff2) format('woff');
}

@font-face {
  font-family: ProximaNova;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/ProximaNova-Extrabold.woff2) format('woff');
}

@font-face {
  font-family: ProximaNova;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url(./assets/fonts/ProximaNova-Black.woff2) format('woff');
}

@theme {
  --color-light: rgb(255, 255, 255);
  --color-dark: rgb(48, 48, 48);

  --color-blue: rgb(0, 58, 103);
  --color-light-blue: #00467e;
  --color-dark-blue: #002542;

  --color-red: rgb(253, 2, 2);
  --color-orange: rgb(253, 196, 39);
  --color-yellow: rgb(255, 255, 2);
  --color-light-yellow: rgb(254, 226, 147);
  --color-green: rgb(135, 207, 67);
  --color-gray: #c4c4c4;
  --color-light-gray: #efefef;

  --font-primary: 'ProximaNova', sans-serif;
  --radius-st: 5px;
}

@layer base {
  *,
  ::before,
  ::after {
    transition: 0.2s ease-out;
    transition-property: opacity, color, background-color, border-color, box-shadow, filter, scale, visibility;
  }

  *::-webkit-scrollbar {
    @apply w-1.5;
  }

  *::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-blue rounded-[10px] cursor-default;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-light-gray;
  }

  *::-webkit-scrollbar-thumb:active {
    @apply bg-gray;
  }

  body {
    @apply font-primary font-bold mx-auto relative bg-blue text-light text-sm leading-3.5;
  }

  #root {
    @apply flex flex-col h-dvh;
  }

  #modal-root {
    @apply relative z-1000;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-1/2;
}

@utility truncate {
  @apply whitespace-nowrap text-start text-ellipsis overflow-hidden max-w-full;
}
